<br />
<br />




<h1>List of top ten repos on GIt HUb</h1>
<br />
<br />

<div class="repo-list">
  <h1>Git hub Repos</h1>
    <p class="text-center">
        We have a list that you can view before you make your search
    </p>
    <app-search-repos></app-search-repos>
<br />
<br />
<div *ngFor="let repo of repos" class="card">
    <!-- <div class="card-header">
      Featured
    </div> -->
    <div class="card-body">
      <h3 class="card-title">{{repo.name}}</h3>
      <p class="card-text">{{repo.description}}</p>
      <span>Language used: {{repo.language}}</span><br />
      <span>Number of Forks: {{repo.forks}}</span><br />
      <span>Repo score {{repo.score}}</span><br />
      <!-- <span>{{}}</span> -->
    </div>
</div>
<br />


</div>

