<br />
<!-- <form class="form-inline">
    <h1>Search for a specific Repo by Repo name</h1>
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <br />
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form> -->

<!-- <div class="search">
    <h4>Search for a specific Repo by Repo name  yeah</h4>
    <input type="text" placeholder="Search for GIFS" #repo (keyup.enter)="search(repo.value)">
</div> -->

<app-search-repos></app-search-repos>

<h1>List of top ten repos on GIt HUb</h1>
<div>
    <ol>
        <li *ngFor="let repo of repos">{{repo.name}}</li>
    </ol>
</div>