<h1>My personal Profile</h1>
<div class="media">
    <img class="mr-3" [src]="profile.avatar_url" alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0">Media heading</h5>
      <!-- <p>{{ profile.html_url}}</p>
      <p>{{ profile.followers_url}}</p>
      <p>{{ profile.following_url}}</p>
      <p>{{ profile.repos_url}}</p> -->
      <p>{{ profile.name}}</p>
      <p>{{ profile.company}}</p>
      <p>{{ profile.blog}}</p>
      <p>{{ profile.bio}}</p>
      <p>{{ profile.twitter_username}}</p>
      <p>{{ profile.public_repos}}</p>
      <p>{{ profile.followers}}</p>
      <p>{{ profile.following}}</p>
    
    </div>
</div>

<app-repos></app-repos>